* {
  letter-spacing: 2px; }

html, body {
  background-color: #0f0f0f;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  color: #3c3c3c;
  z-index: -1; }

.nav_wrap {
  top: 0px;
  width: 100%;
  display: flex;
  position: fixed;
  color: black;
  border-bottom: 1px solid black;
  background-color: #f2f2f2;
  z-index: 3;
  justify-content: space-between; }
  .nav_wrap .right_nav {
    display: flex; }
  .nav_wrap .left_nav {
    display: flex; }
  .nav_wrap .nav_item {
    padding: 12px;
    margin-left: 12px; }
    .nav_wrap .nav_item:hover {
      opacity: 0.7;
      cursor: pointer; }

.idle_background {
  height: 100%;
  width: 100%;
  top: 0%;
  position: fixed;
  z-index: 0;
  background-color: #0f0f0f;
  transition-duration: 1s; }
  .idle_background .album {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-size: cover;
    animation: goUp 10s infinite;
    animation-timing-function: linear;
    transition-duration: 1s;
    cursor: pointer;
    border: 1px solid #0f0f0f;
    margin-bottom: 12px; }
    .idle_background .album:hover {
      animation-play-state: paused;
      z-index: 100;
      border: 1px dashed #FF6700;
      opacity: 1; }
      .idle_background .album:hover .album_info {
        opacity: 1; }
    .idle_background .album .album_info {
      transition-duration: 1s;
      position: absolute;
      opacity: 0;
      text-align: center;
      padding: 12px 0;
      top: 100%;
      width: 200px;
      color: #FF6700; }

.toggle_background_wrap {
  position: fixed;
  z-index: 5;
  top: 47px;
  left: 0%;
  border: 3px solid #282828;
  background-color: #f2f2f2;
  padding: 15px;
  display: none; }
  .toggle_background_wrap .toggle_background_switch {
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 15px; }
    .toggle_background_wrap .toggle_background_switch .btn {
      width: 30px;
      height: 30px;
      background-color: #444444;
      border-radius: 15px; }
  .toggle_background_wrap .toggle_background_switch-on {
    background-color: #ddffdd; }
    .toggle_background_wrap .toggle_background_switch-on .btn {
      background-color: #448844;
      margin-left: 30px; }

.content_wrap {
  width: 70%;
  color: #bebebe;
  margin-top: 5%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  position: relative;
  justify-content: space-around;
  height: 100%;
  z-index: 2; }
  .content_wrap .posts_wrap {
    width: 60%; }
    .content_wrap .posts_wrap .post {
      background-color: #282828;
      margin-bottom: 15px;
      padding: 15px 30px;
      position: relative; }
      .content_wrap .posts_wrap .post .song_list {
        position: absolute;
        top: 0%;
        left: 100%;
        background-color: #282828;
        width: 225px;
        transform: rotate(90deg);
        transform-origin: 0 0;
        z-index: -1;
        opacity: 0;
        transition-duration: 1s; }
        .content_wrap .posts_wrap .post .song_list .song_list_des {
          padding: 15px;
          padding-bottom: 5px;
          border-bottom: 1px solid #bebebe;
          margin-bottom: 12px;
          word-wrap: break-word; }
        .content_wrap .posts_wrap .post .song_list .song_info {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #bebebe;
          margin-bottom: 12px;
          overflow: hidden; }
          .content_wrap .posts_wrap .post .song_list .song_info .song_name {
            display: inline-block;
            white-space: nowrap;
            padding-left: 15px;
            padding-right: 15px;
            height: 48px;
            animation-timing-function: linear;
            cursor: pointer; }
            .content_wrap .posts_wrap .post .song_list .song_info .song_name:hover {
              animation: goLeft 5s infinite; }
      .content_wrap .posts_wrap .post .header {
        display: flex;
        justify-content: space-between; }
        .content_wrap .posts_wrap .post .header .owner_info {
          display: flex;
          align-items: center;
          margin-bottom: 15px; }
          .content_wrap .posts_wrap .post .header .owner_info .owner_avatar {
            width: 50px;
            height: 50px;
            border-radius: 100%; }
          .content_wrap .posts_wrap .post .header .owner_info .owner_name {
            padding-left: 15px; }
        .content_wrap .posts_wrap .post .header .more_info {
          display: flex;
          line-height: 50px;
          font-size: 30px;
          cursor: pointer; }
      .content_wrap .posts_wrap .post .playlist_cover {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-height: 540px;
        margin-bottom: 15px; }
      .content_wrap .posts_wrap .post .playlist_stats {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px; }
      .content_wrap .posts_wrap .post .playlist_title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
        word-wrap: break-word; }
      .content_wrap .posts_wrap .post .playlist_des {
        margin-bottom: 15px;
        word-wrap: break-word; }

@keyframes goUp {
  0% {
    transform: translateY(0%);
    opacity: 0; }
  50% {
    transform: translateY(-50%);
    opacity: 1; }
  100% {
    transform: translateY(-100%);
    opacity: 0; } }
@keyframes goLeft {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-100%); } }

/*# sourceMappingURL=style.css.map */
