<div class="nav_wrap">
    <div class="right_nav">
        <div class="nav_item">Playlist Explore</div>
        <a class="nav_item" href="/explore">最新歌單</a>
    </div>
    <div class="left_nav">
        <a class="nav_item" href="/profile">個人首頁</a>
        <a class="nav_item" href="/publish">發布歌單</a>
        <a class="nav_item" href="/signup">註冊</a>
        <a class="nav_item" href="/login">登入</a>
    </div>
</div>