<div class="nav_wrap">
    <div class="right_nav">
        <a class="nav_item" href="/homepage">Playlist Explore</a>
        <a class="nav_item" href="/explore">探索歌單</a>
        <% if (token) { %>
            <a class="nav_item" href="/friend">朋友歌單</a>
            <% } %>
    </div>
    <div class="left_nav">
        <% if (token) { %>
            <div class="nav_search_btn">
                <svg x="0px" y="0px" viewBox="0 0 24 24" width="20px" height="20px">
                    <g stroke-linecap="square" stroke-linejoin="miter" stroke="currentColor">
                        <line fill="none" x1="22" y1="22" x2="16.4" y2="16.4" />
                        <circle fill="none" cx="10" cy="10" r="9" />
                    </g>
                </svg>
                <input type="text" class="nav_search_input">
                <div class="suggestion_wrap"></div>
            </div>
            <div class="nav_noti_btn">
                <svg x="0px" y="0px" viewBox="0 0 20 20" width="20px" height="20px">
                    <g stroke-linecap="square" stroke-linejoin="miter" stroke="currentColor">
                        <line fill="none" x1="10" y1="2" x2="10" y2="14" />
                        <circle fill="none" cx="10" cy="18" r="1" />
                    </g>
                </svg>
                <div class="noti_wrap"></div>
            </div>
            <img class="nav_avatar" src="<%= avatar %>">
            <a class="nav_item" href="/profile?id=<%= token %>&list=-1">
                <%= userName %>
            </a>
            <a class="nav_item" href="/publish?id=<%= token %>">發布歌單</a>
            <a class="nav_item" href="/signout">登出</a>
            <% } else { %>
                <div class="nav_search_btn">
                    <svg x="0px" y="0px" viewBox="0 0 24 24" width="20px" height="20px">
                        <g stroke-linecap="square" stroke-linejoin="miter" stroke="currentColor">
                            <line fill="none" x1="22" y1="22" x2="16.4" y2="16.4" />
                            <circle fill="none" cx="10" cy="10" r="9" />
                        </g>
                    </svg>
                    <input type="text" class="nav_search_input">
                    <div class="suggestion_wrap"></div>
                </div>
                <div class="nav_noti_btn">
                    <svg x="0px" y="0px" viewBox="0 0 20 20" width="20px" height="20px">
                        <g stroke-linecap="square" stroke-linejoin="miter" stroke="currentColor">
                            <line fill="none" x1="10" y1="2" x2="10" y2="14" />
                            <circle fill="none" cx="10" cy="18" r="1" />
                        </g>
                    </svg>
                    <div class="noti_wrap"></div>
                </div>
                <a class="nav_item" href="/login">個人首頁</a>
                <a class="nav_item" href="/publish">發布歌單</a>
                <a class="nav_item" href="/signup">註冊</a>
                <a class="nav_item" href="/login">登入</a>
                <% } %>
    </div>
</div>
<script src="/javascripts/components/index.js"></script>