<!DOCTYPE html>
<html>
  <head>
    <title>
      Playlist Explore - share and discover music
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body></body>
</html>
