<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Playlist Explore - share and discover music</title>



    <link rel="stylesheet" href="/stylesheets/landing/style.css">
    <link rel="stylesheet" href="/stylesheets/components/style.css">

</head>

<body>
    <%- include('components/nav') %>
</body>

</html>