<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sign in to Playlist Explore - Playlist Explore</title>



  <link rel="stylesheet" href="/stylesheets/login/style.css">
  <link rel="stylesheet" href="/stylesheets/components/style.css">
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>



</head>

<body>
  <%- include('components/nav') %>


    <div class="content_wrap">
      <div class="field">
        <a href="/login/facebook">
          <div class="fb_signup_btn">Sign in with Facebook</div>
        </a>
      </div>
      <div class="field">
        <hr>
      </div>
      <div class="field">
        <label>Email Account</label>
        <input class="input_row username_input" placeholder="Username" type="text" name="name">
      </div>
      <div class="field">
        <label>Password</label>
        <input class="input_row password_input" placeholder="Password" type="password" name="password">
      </div>
      <div class="field">
        <div class="signup_btn">Sign In</div>
      </div>
    </div>



    <script src="/javascripts/sha1.js"></script>
    <script src="/javascripts/login/index.js"></script>





</body>

</html>