<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign in to Playlist Explore - Playlist Explore</title>

    <link rel="stylesheet" href="/login/css/style.css" />
    <link rel="stylesheet" href="/components/css/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
  </head>

  <body>
    <%- include('components/nav') %>

    <div class="content_wrap">
      <div class="field">
        <a href="/login/facebook">
          <div class="fb_signup_btn">用 Facebook 登入</div>
        </a>
      </div>
      <div class="field">
        <hr />
      </div>
      <div class="field">
        <label>Email</label>
        <input class="input_row email_input" placeholder="Email" type="text" name="name" />
      </div>
      <div class="field">
        <label>密碼</label>
        <input
          class="input_row password_input"
          placeholder="Password"
          type="password"
          name="password"
        />
      </div>
      <div class="field">
        <div class="signup_btn">登入</div>
      </div>
    </div>

    <script src="/utils/sha1.js"></script>
    <script src="/login/index.js"></script>
  </body>
</html>
