<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Join Playlist Explore - Playlist Explore</title>

    <link rel="stylesheet" href="/signup/css/style.css" />
    <link rel="stylesheet" href="/components/css/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
  </head>

  <body>
    <div class="loader loader_hide"></div>
    <%- include('components/nav') %>

    <div class="content_wrap">
      <div class="field">
        <a href="/login/facebook">
          <div class="fb_signup_btn">用 Facebook 註冊</div>
        </a>
      </div>

      <div class="field">
        <hr />
      </div>

      <div class="field">
        <label>使用者姓名</label>
        <input
          class="input_row username_input"
          placeholder="英文姓名必須少於 20 個字"
          type="text"
          name="name"
        />
      </div>
      <div class="field">
        <label>Email</label>
        <input
          class="input_row email_input"
          placeholder="請輸入有效 Email 地址"
          type="email"
          name="name"
        />
      </div>
      <div class="field">
        <label>密碼</label>
        <input
          class="input_row password_input"
          placeholder="密碼長度須大於 6 個字"
          type="password"
          name="password"
        />
      </div>
      <div class="field">
        <label>確認密碼</label>
        <input
          class="input_row repassword_input"
          placeholder="密碼長度須大於 6 個字"
          type="password"
          name="repassword"
        />
      </div>
      <div class="field">
        <label>大頭貼</label>
        <input class="avatar avatar_input" type="file" name="avatar" data-maxSize="5000" />
      </div>
      <div class="field">
        <div class="signup_btn">註冊</div>
      </div>
    </div>
    <script src="/sha1.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script src="/signup/index.js"></script>
  </body>
</html>
