* {
  letter-spacing: 2px; }

html, body {
  background-color: #0f0f0f;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  color: #3c3c3c;
  font-family: "PingFang TC"; }

a {
  text-decoration: none;
  color: #bebebe; }

.nav_wrap {
  top: 0px;
  width: 100%;
  display: flex;
  position: fixed;
  color: black;
  border-bottom: 1px solid black;
  background-color: #f2f2f2;
  z-index: 3;
  justify-content: space-between; }
  .nav_wrap .right_nav {
    display: flex; }
  .nav_wrap .left_nav {
    display: flex;
    align-items: center; }
  .nav_wrap .nav_noti_btn {
    position: relative;
    margin: 0 24px;
    border-radius: 100%;
    padding: 2px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: all 0.3s ease 0.6s;
    box-shadow: 0 3px 14px -1px rgba(0, 0, 0, 0.18); }
    .nav_wrap .nav_noti_btn .noti_wrap {
      display: none;
      position: absolute;
      top: 180%;
      background-color: #f2f2f2;
      color: rgba(117, 117, 117, 0.7);
      box-shadow: 0 3px 14px -1px rgba(0, 0, 0, 0.18);
      border-radius: 5px;
      width: 260px; }
      .nav_wrap .nav_noti_btn .noti_wrap .noti_square {
        position: absolute;
        width: 14px;
        height: 14px;
        background-color: #f2f2f2;
        top: -7px;
        left: calc(50% - 7px);
        transform: rotate(45deg); }
      .nav_wrap .nav_noti_btn .noti_wrap .noti-unread {
        background-color: #f2f2f2; }
      .nav_wrap .nav_noti_btn .noti_wrap .noti {
        padding: 10px;
        list-style: none;
        display: flex;
        align-items: center;
        cursor: pointer; }
        .nav_wrap .nav_noti_btn .noti_wrap .noti:hover {
          opacity: 0.7; }
        .nav_wrap .nav_noti_btn .noti_wrap .noti a {
          display: flex;
          align-items: center; }
        .nav_wrap .nav_noti_btn .noti_wrap .noti .noti_avatar {
          display: inline-block;
          height: 25px;
          width: 25px;
          border-radius: 100%;
          margin-right: 10px; }
        .nav_wrap .nav_noti_btn .noti_wrap .noti .noti_message {
          color: rgba(60, 60, 60, 0.7); }
    .nav_wrap .nav_noti_btn .noti_wrap-active {
      display: block; }
  .nav_wrap .nav_noti_btn-active {
    background-color: rgba(0, 255, 0, 0.3);
    color: #bebebe; }
  .nav_wrap .nav_search_btn {
    position: relative;
    border-radius: 100%;
    padding: 2px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: all 0.3s ease 0.6s;
    box-shadow: 0 3px 14px -1px rgba(0, 0, 0, 0.18);
    overflow: hidden; }
    .nav_wrap .nav_search_btn .nav_search_input {
      width: 140px;
      height: 30px;
      border: 0;
      position: absolute;
      background-color: rgba(0, 0, 0, 0);
      color: rgba(0, 0, 0, 0);
      transition-duration: 0.3s;
      opacity: 0;
      margin-left: 10px; }
      .nav_wrap .nav_search_btn .nav_search_input:focus {
        outline-style: none;
        border: 0;
        color: #000; }
    .nav_wrap .nav_search_btn .nav_search_input-hover {
      opacity: 1; }
    .nav_wrap .nav_search_btn .svg-hover {
      position: absolute;
      left: 3px;
      padding-right: 3px;
      border-right: 1px solid rgba(0, 0, 0, 0.18); }
    .nav_wrap .nav_search_btn .suggestion_wrap {
      position: absolute;
      top: 95%;
      left: 28px;
      background-color: #f2f2f2;
      color: rgba(117, 117, 117, 0.7);
      box-shadow: 0 3px 14px -1px rgba(0, 0, 0, 0.18);
      border-radius: 0 0 5px 5px;
      width: 156px; }
      .nav_wrap .nav_search_btn .suggestion_wrap li {
        padding: 5px 10px;
        list-style: none;
        display: flex;
        align-items: center; }
        .nav_wrap .nav_search_btn .suggestion_wrap li:hover {
          background-color: #bebebe; }
        .nav_wrap .nav_search_btn .suggestion_wrap li .search_name {
          display: inline-block;
          font-size: 16px; }
          .nav_wrap .nav_search_btn .suggestion_wrap li .search_name .highlight {
            color: #646464; }
        .nav_wrap .nav_search_btn .suggestion_wrap li .search_avatar {
          display: inline-block;
          height: 25px;
          width: 25px;
          border-radius: 100%;
          margin-right: 10px; }
  .nav_wrap .nav_search_btn-hover {
    width: 180px;
    border-radius: 5px;
    overflow: initial; }
  .nav_wrap .nav_avatar {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    box-shadow: 0 3px 14px -1px rgba(0, 0, 0, 0.18); }
  .nav_wrap .nav_item {
    padding: 12px;
    margin-left: 12px;
    text-decoration: none;
    color: #3c3c3c; }
    .nav_wrap .nav_item:hover {
      opacity: 0.7;
      cursor: pointer; }

.loader {
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 8px solid #1a1a1a;
  border-top: 8px solid #f2f2f2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  z-index: 100; }

.loader_hide {
  z-index: -100; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
