*
  // border: 1px solid black
  letter-spacing: 2px

$txt_black: rgb(60, 60, 60)
$bg_white: rgb(242, 242, 242)

$bg_deep_black: rgb(15, 15, 15)
$bg_black: rgb(26, 26, 26)
$bg_grey: rgb(40, 40, 40)
$txt_white: rgb(190, 190, 190)

html, body
  background-color: $bg_deep_black
  margin: 0px
  padding: 0px
  box-sizing: border-box
  width: 100%
  height: 100%
  position: relative
  color: $txt_black

.nav_wrap
  top: 0px
  width: 100%
  display: flex
  position: fixed
  color: black
  border-bottom: 1px solid black
  background-color: $bg_white
  z-index: 3
  justify-content: space-between
  .right_nav
    display: flex
  .left_nav
    display: flex
  .nav_item
    padding: 12px
    margin-left: 12px
    &:hover
      opacity: 0.7
      cursor: pointer

.idle_background
  height: 100%
  width: 100%
  top: 0%
  position: fixed
  z-index: 100
  background-color: $bg_deep_black
  transition-duration: 1s
  .album
    position: absolute
    opacity: 0.7
    width: 200px
    height: 200px
    border-radius: 5px
    // border: 1px solid #fff
    background-size: cover
    animation: goUp 10s infinite
    animation-timing-function: linear
    transition-duration: 1s
    cursor: pointer
    &:hover
      animation-play-state: paused
      z-index: 100
      opacity: 1
  

.content_wrap
  width: 70%
  // background-color: $bg_black
  color: $txt_white
  margin-top: 5%
  margin-left: 50%
  transform: translateX(-50%)
  display: flex
  position: relative
  justify-content: space-around
  height: 100%
  .posts_wrap
    width: 60%
    .post
      background-color: $bg_grey
      margin-bottom: 15px
      padding: 15px 30px
      position: relative
      .song_list
        position: absolute
        top: 0%
        left: 100%
        background-color: $bg_grey
        width: 225px
        transform: rotate(90deg)
        transform-origin: 0 0
        z-index: -1
        opacity: 0
        transition-duration: 1s
        .song_list_des
          padding: 15px
          padding-bottom: 5px
          border-bottom: 1px solid $txt_white
          margin-bottom: 12px
        .song_info
          display: flex
          justify-content: space-between
          border-bottom: 1px solid $txt_white
          margin-bottom: 12px
          .song_name
            display: inline-block
            white-space: nowrap
            overflow: hidden
            padding-left: 15px
            padding-right: 15px
            height: 48px
      .header
        display: flex
        justify-content: space-between
        .owner_info
          display: flex
          align-items: center
          margin-bottom: 15px
          .owner_avatar
            width: 50px
            height: 50px
            border-radius: 100%
          .owner_name
            padding-left: 15px
        .more_info
          display: flex
          // align-items: center
          line-height: 50px
          font-size: 30px
          cursor: pointer
      .playlist_cover
        margin-left: 50%
        transform: translateX(-50%)
        width: 100%
        max-height: 540px
        margin-bottom: 15px
      .playlist_stats
        display: flex
        justify-content: space-between
        margin-bottom: 15px
      .playlist_title
        font-size: 18px
        font-weight: 600
        margin-bottom: 15px
      .playlist_des
        margin-bottom: 15px


@keyframes goUp
  0%
    transform: translateY(0%)  
    opacity: 0

  50%
    transform: translateY(-50%)  
    opacity: 1
  
  100%
    transform: translateY(-100%)
    opacity: 0