*
  // border: 1px solid white
  letter-spacing: 2px

$txt_black: rgb(60, 60, 60)
$bg_white: rgb(242, 242, 242)

$bg_orange: #FF6700
$bg_blue: #0A2463

$bg_deep_black: rgb(15, 15, 15)
$bg_black: rgb(26, 26, 26)
$bg_grey: rgb(40, 40, 40)
$txt_white: rgb(190, 190, 190)
a
  text-decoration: none
  color: $txt_white

html, body
  margin: 0px
  padding: 0px
  box-sizing: border-box
  width: 100%
  height: 100%
  position: relative
  color: $txt_white


.nav_wrap
  top: 0px
  width: 100%
  display: flex
  position: fixed
  color: $txt_white
  background: rgba(0, 0, 0, 0)
  border-bottom: 2px solid rgba(0, 0, 0, 0.6)
  justify-content: space-between
  transition: 0.5s
  z-index: 100
  .right_nav
    display: flex
  .left_nav
    display: flex
  .nav_item
    padding: 24px
    margin-left: 12px
    cursor: pointer
    &:hover
      opacity: 0.7



.header#home
  width: 100%
  height: 100%
  min-height: 700px
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(https://scontent-tpe1-1.xx.fbcdn.net/v/t31.0-8/22051315_1829894783705429_4886891333327965999_o.jpg?_nc_cat=0&oh=eea5f9b2a5e5886f23d872493d1e0e56&oe=5B6E9F42)
  background-size: cover
  background-attachment: fixed
  display: flex
  justify-content: space-around
  align-items: center
  color: $txt_white
  .background_wrap
    width: 80%
    height: 70%
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    .title_wrap
      margin-top: 15%
      width: 20%
      position: relative
      .rotate_wrap
        transform: translate(-50%, -50%)
        width: 84px
        height: 84px
        top: 50%
        left: 50%
        position: absolute
        .circle
          top: 0
          left: 0
          bottom: 0
          right: 0
          border: 18px solid $bg_orange
          border-radius: 50%
          display: block
          position: absolute        
        .dot
          top: 0
          left: 0
          bottom: 0
          right: 0
          display: block
          position: absolute
          animation: dotRotate 4.8s linear infinite
          cursor: pointer
          &:hover
            &:before
              background-color: $bg_blue
          @keyframes dotRotate
            100%
              transform: rotate(360deg)          
          &:before
            display: block
            position: absolute
            content: ''
            top: -42px
            left: 50%
            width: 24px
            height: 24px
            margin-left: -12px
            border-radius: 50%
            background-color: $bg_orange
            animation: dotEffect 1.2s ease-in-out infinite
            @keyframes dotEffect
              50%
                top: 102px            
              0%, 50%, 100%
                transform: scale(1)            
              25%
                transform: scale(0.5)
              75%
                transform: scale(1.5)



      .title_row
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: 84px
        height: 84px
        cursor: pointer
        &:hover
          .playlist, .explore
            opacity: 1
            letter-spacing: 2px
        .playlist, .explore
          position: absolute
          top: 50%
          transform: translateY(-50%)
          margin: 0
          font-size: 96px
          letter-spacing: 14px
          opacity: 0
          transition: all 2s cubic-bezier(0.19, 1, 0.22, 1)

        .playlist
          right: 0
          transform: translate(-40%,-50%)
        .explore
          left: 0
          transform: translate(40%,-50%)
    h2
      margin-top: 80px
      font-size: 48px
      letter-spacing: 2px

    .btn_wrap
      .trial_btn, .signup_btn
        display: inline-block
        padding: 15px 30px
        border-radius: 15px
        margin: 0 15px
        cursor: pointer
        letter-spacing: 2px
        transition-duration: 0.5s
        transition-timing-function: linear
        &:hover
          border-radius: 30px
      .trial_btn
        background-color: $bg_orange
      .signup_btn
        background-color: $bg_blue


.section
  width: 100%
  height: 85%
  min-height: 600px
#explore
  background-color: $bg_black
  display: flex
  justify-content: space-around
  align-items: center
  .left_wrap
    opacity: 0
    transform: translateX(-400px)
    margin-left: 5%
    height: 80%
    width: 35%
    .explore_title
      margin-top: 30px
      font-size: 36px
    .subtitle
      font-size: 24px
      margin-top: 20px
    p
      font-size: 18px
  .right_wrap
    margin-right: 5%
    height: 80%
    width: 35%

#about
  background-color: $bg_grey
  display: flex
  align-items: center
  flex-direction: column
  .about_title
    margin-top: 8%
    font-size: 36px
  p
    width: 45%
    font-size: 24px
#email
  background-color: transparent
  display: flex
  align-items: center
  flex-direction: column
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(https://scontent-tpe1-1.xx.fbcdn.net/v/t31.0-8/22051315_1829894783705429_4886891333327965999_o.jpg?_nc_cat=0&oh=eea5f9b2a5e5886f23d872493d1e0e56&oe=5B6E9F42)
  background-size: cover
  background-attachment: fixed
  .email_title
    margin-top: 15%
    font-size: 36px
  .email_input
    text-align: center
    margin-top: 50px
    background-color: transparent
    padding: 6px 12px
    width: 400px
    height: 30px
    font-size: 24px
    color: $txt_white
    border-radius: 3px
  .email_btn
    margin-top: 50px
    background-color: $bg_blue
    padding: 15px 30px
    border-radius: 15px
    cursor: pointer
    letter-spacing: 2px
    transition-duration: 0.5s
    transition-timing-function: linear
    &:hover
      border-radius: 30px