* {
  letter-spacing: 2px; }

a {
  text-decoration: none;
  color: #bebebe; }

html, body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  color: #bebebe; }

.nav_wrap {
  top: 0px;
  width: 100%;
  display: flex;
  position: fixed;
  color: #bebebe;
  background: rgba(0, 0, 0, 0.6);
  justify-content: space-between; }
  .nav_wrap .right_nav {
    display: flex; }
  .nav_wrap .left_nav {
    display: flex; }
  .nav_wrap .nav_item {
    padding: 24px;
    margin-left: 12px; }
    .nav_wrap .nav_item:hover {
      opacity: 0.7;
      cursor: pointer; }

.header#home {
  width: 100%;
  height: 100%;
  min-height: 700px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(https://scontent-tpe1-1.xx.fbcdn.net/v/t31.0-8/22051315_1829894783705429_4886891333327965999_o.jpg?_nc_cat=0&oh=eea5f9b2a5e5886f23d872493d1e0e56&oe=5B6E9F42);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #bebebe; }
  .header#home .background_wrap {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .header#home .background_wrap .title_wrap {
      margin-top: 15%;
      width: 20%;
      position: relative; }
      .header#home .background_wrap .title_wrap .rotate_wrap {
        transform: rotate(45deg);
        transform: translate(-50%, -50%);
        width: 84px;
        height: 84px;
        top: 50%;
        left: 50%;
        position: absolute; }
        .header#home .background_wrap .title_wrap .rotate_wrap .circle {
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          border: 18px solid #FF6700;
          border-radius: 50%;
          display: block;
          position: absolute; }
        .header#home .background_wrap .title_wrap .rotate_wrap .dot {
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          display: block;
          position: absolute;
          animation: dotRotate 4.8s linear infinite;
          cursor: pointer; }
          .header#home .background_wrap .title_wrap .rotate_wrap .dot:hover:before {
            background-color: #0A2463; }
@keyframes dotRotate {
  100% {
    transform: rotate(360deg); } }
          .header#home .background_wrap .title_wrap .rotate_wrap .dot:before {
            display: block;
            position: absolute;
            content: "";
            top: -42px;
            left: 50%;
            width: 24px;
            height: 24px;
            margin-left: -12px;
            border-radius: 50%;
            background-color: #FF6700;
            animation: dotEffect 1.2s ease-in-out infinite; }
@keyframes dotEffect {
  50% {
    top: 102px; }
  0%, 50%, 100% {
    transform: scale(1); }
  25% {
    transform: scale(0.5); }
  75% {
    transform: scale(1.5); } }
      .header#home .background_wrap .title_wrap .title_row {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 84px;
        height: 84px;
        cursor: pointer; }
        .header#home .background_wrap .title_wrap .title_row:hover .playlist, .header#home .background_wrap .title_wrap .title_row:hover .explore {
          opacity: 1;
          letter-spacing: 2px; }
        .header#home .background_wrap .title_wrap .title_row .playlist, .header#home .background_wrap .title_wrap .title_row .explore {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin: 0;
          font-size: 96px;
          letter-spacing: 14px;
          opacity: 0;
          transition: all 2s cubic-bezier(0.19, 1, 0.22, 1); }
        .header#home .background_wrap .title_wrap .title_row .playlist {
          right: 0;
          transform: translate(-40%, -50%); }
        .header#home .background_wrap .title_wrap .title_row .explore {
          left: 0;
          transform: translate(40%, -50%); }
    .header#home .background_wrap h2 {
      margin-top: 80px;
      font-size: 48px;
      letter-spacing: 2px; }
    .header#home .background_wrap .btn_wrap .trial_btn {
      display: inline-block;
      padding: 15px 30px;
      border-radius: 15px;
      margin: 0 15px;
      background-color: #FF6700;
      cursor: pointer;
      letter-spacing: 2px;
      transition-duration: 0.5s;
      transition-timing-function: ease; }
    .header#home .background_wrap .btn_wrap .signup_btn {
      display: inline-block;
      background-color: #0A2463;
      padding: 15px 30px;
      border-radius: 15px;
      margin: 0 15px;
      cursor: pointer;
      letter-spacing: 2px; }

.section {
  width: 100%;
  height: 85%;
  min-height: 600px; }

#explore {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  #explore .left_wrap {
    margin-left: 5%;
    height: 80%;
    width: 35%; }
    #explore .left_wrap .explore_title {
      margin-top: 30px;
      font-size: 36px; }
    #explore .left_wrap .subtitle {
      font-size: 24px;
      margin-top: 20px; }
    #explore .left_wrap p {
      font-size: 18px; }
  #explore .right_wrap {
    margin-right: 5%;
    height: 80%;
    width: 35%; }

#about {
  background-color: #282828;
  display: flex;
  align-items: center;
  flex-direction: column; }
  #about .about_title {
    margin-top: 8%;
    font-size: 36px; }
  #about p {
    width: 45%;
    font-size: 24px; }

#email {
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(https://scontent-tpe1-1.xx.fbcdn.net/v/t31.0-8/22051315_1829894783705429_4886891333327965999_o.jpg?_nc_cat=0&oh=eea5f9b2a5e5886f23d872493d1e0e56&oe=5B6E9F42);
  background-size: cover;
  background-attachment: fixed; }
  #email .email_title {
    margin-top: 15%;
    font-size: 36px; }
  #email .email_input {
    text-align: center;
    margin-top: 50px;
    background-color: transparent;
    padding: 6px 12px;
    width: 400px;
    height: 30px;
    font-size: 24px;
    color: #bebebe;
    border-radius: 3px; }
  #email .email_btn {
    margin-top: 50px;
    background-color: #0A2463;
    padding: 15px 30px;
    border-radius: 15px;
    cursor: pointer;
    letter-spacing: 2px; }

.footer {
  background-color: #282828;
  opacity: 0.5;
  width: 100%;
  height: 40%; }

.idle_background {
  height: 100%;
  width: 100%;
  top: 0%;
  position: fixed;
  z-index: 0;
  background-color: #0f0f0f;
  transition-duration: 1s; }
  .idle_background .album {
    position: absolute;
    opacity: 0.7;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-size: cover;
    animation: goUp 10s infinite;
    animation-timing-function: linear;
    transition-duration: 1s;
    cursor: pointer; }
    .idle_background .album:hover {
      animation-play-state: paused;
      z-index: 100;
      opacity: 1; }

.toggle_background_wrap {
  position: fixed;
  z-index: 5;
  top: 47px;
  left: 0%;
  border: 3px solid #282828;
  background-color: #f2f2f2;
  padding: 15px; }
  .toggle_background_wrap .toggle_background_switch {
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 15px; }
    .toggle_background_wrap .toggle_background_switch .btn {
      width: 30px;
      height: 30px;
      background-color: #444444;
      border-radius: 15px; }
  .toggle_background_wrap .toggle_background_switch-on {
    background-color: #ddffdd; }
    .toggle_background_wrap .toggle_background_switch-on .btn {
      background-color: #448844;
      margin-left: 30px; }

.content_wrap {
  width: 70%;
  color: #bebebe;
  margin-top: 5%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  position: relative;
  justify-content: space-around;
  height: 100%;
  z-index: 2; }
  .content_wrap .posts_wrap {
    width: 60%; }
    .content_wrap .posts_wrap .post {
      background-color: #282828;
      margin-bottom: 15px;
      padding: 15px 30px;
      position: relative; }
      .content_wrap .posts_wrap .post .song_list {
        position: absolute;
        top: 0%;
        left: 100%;
        background-color: #282828;
        width: 225px;
        transform: rotate(90deg);
        transform-origin: 0 0;
        z-index: -1;
        opacity: 0;
        transition-duration: 1s; }
        .content_wrap .posts_wrap .post .song_list .song_list_des {
          padding: 15px;
          padding-bottom: 5px;
          border-bottom: 1px solid #bebebe;
          margin-bottom: 12px; }
        .content_wrap .posts_wrap .post .song_list .song_info {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #bebebe;
          margin-bottom: 12px;
          overflow: hidden; }
          .content_wrap .posts_wrap .post .song_list .song_info .song_name {
            display: inline-block;
            white-space: nowrap;
            padding-left: 15px;
            padding-right: 15px;
            height: 48px;
            animation: goLeft 10s infinite;
            animation-timing-function: linear; }
      .content_wrap .posts_wrap .post .header {
        display: flex;
        justify-content: space-between; }
        .content_wrap .posts_wrap .post .header .owner_info {
          display: flex;
          align-items: center;
          margin-bottom: 15px; }
          .content_wrap .posts_wrap .post .header .owner_info .owner_avatar {
            width: 50px;
            height: 50px;
            border-radius: 100%; }
          .content_wrap .posts_wrap .post .header .owner_info .owner_name {
            padding-left: 15px; }
        .content_wrap .posts_wrap .post .header .more_info {
          display: flex;
          line-height: 50px;
          font-size: 30px;
          cursor: pointer; }
      .content_wrap .posts_wrap .post .playlist_cover {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-height: 540px;
        margin-bottom: 15px; }
      .content_wrap .posts_wrap .post .playlist_stats {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px; }
      .content_wrap .posts_wrap .post .playlist_title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px; }
      .content_wrap .posts_wrap .post .playlist_des {
        margin-bottom: 15px; }

@keyframes goUp {
  0% {
    transform: translateY(0%);
    opacity: 0; }
  50% {
    transform: translateY(-50%);
    opacity: 1; }
  100% {
    transform: translateY(-100%);
    opacity: 0; } }
@keyframes goLeft {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-100%); } }

/*# sourceMappingURL=style.css.map */
